* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 720px;
}

.item {
  align-self: flex-end;
  width: 100%;
}

.green {
  background-color: limegreen;
  order: 1;
  flex-grow: 1;
}

.yellow {
  background-color: gold;
  order: 3;
  flex-grow: 2;
}

.purple {
  background-color: orchid;
  order: 2;
  flex-grow: 1;
}