* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

.App-container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.App-header {
  width: 960px;
  padding: 0;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin: 0 0 15px 230px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.side-container {
  display: flex;
  flex-direction: column;
  width: 220px;
}

main {
  display: flex;
  flex-direction: column;
}

.box {
  width: 730px;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
}

.box h4 {
  margin-bottom: 5px;
}

.box img {
  float: left;
  width: 200px;
  height: 150px;
  margin-right: 5px;
}

.box button {
  padding: 2px 7px;
  margin-top: 10px;
  cursor: pointer;
}

.aside-box {
  width: 220px;
  border: 1px solid black;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.aside-box form {
  display: flex;
  flex-direction: column;
}

.aside-box p {
  margin-bottom: 5px;
  font-weight: 600;
}

.aside-stars input {
  margin: 5px 10px 0 5px;
}

.aside-type input {
  margin: 5px 10px 0 5px;
}
