.App {
  font-family: sans-serif;
  text-align: center;
}

.form-item-count button {
  width: 30px;
  border-radius: 5px;
  border: solid thin #ccc;
  margin: 0 5px;
}

.form-item-count span {
  width: 50px;
  display: inline-block;
  border-radius: 5px;
  border: solid thin #ccc;
  text-align: center;
}

.inline-title {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}