* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  font-size: 20px;
  padding: 10px;
}

.post {
  margin-top: 10px;
}

.postDiv {
  margin-top: 15px;
  padding: 10px;
  text-transform: capitalize;
}

.postDiv div:first-of-type {
  font-weight: 700;
  margin-bottom: 5px;
}

.postDiv:nth-child(even) {
  background-color: #ccc;
}

.counter {
  margin-bottom: 15px;
  padding: 10px;
}

.counter button {
padding: 5px 10px;
}

.counter span {
  display: inline-block;
  margin: 0 10px;
}