@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* 
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif; 
  font-family: "Source Sans Pro", sans-serif;
  */
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

h2 {
  margin: 0 0 15px 0;
}
